

.h1 {
  text-align: center;
  background-color: #2196f3;
  color: white;
  height: 72px;
  text-size: 36px;
}

.rightdiv {
  display: flex;
  flex: 1;
  text-align: left;
  background-color: #eee;
  font-family: Arial, sans-serif;
  flex-wrap: wrap;
}

.parentdiv {
  display: flex; 
  width: 100%;
  align-self: center;
}
